.App {
  text-align: center;
}

/*맨 위 오른쪽 메뉴*/
.Nave_bar {
  background-color: rgba(0,0,0,0.0);
  font-size : 14px;
  /* float : right; */
}
.me-auto{
  margin-left: 80%;
  /* margin-top: 1%; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
