.App {
  text-align: center;
}

/*맨 위 오른쪽 메뉴*/
.Nave_bar {
  background-color: rgba(0,0,0,0.0);
  font-size : 14px;
  /* float : right; */
}


.Logo{
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  margin : 0 auto;
}

.flock_logo{
  width : 150px;
  margin-right : 25px;
}

#input {
  width : 40%;
  padding : 10px;
  border-radius : 15px;
  border : 2px solid #1F3E1B;
  margin-right : 20px;
}

#button {
  font-size : 15px;
  color : #ffffff;
  background-color : #1F3E1B;
  border-radius : 15px;
  padding : 11.5px;
  border : 2px solid #1F3E1B;
}

/*가운데 메뉴바 css*/
.center_bar{
  position: relative;
  background-color : #1F3E1B;
  color : #ffffff;
  top: 50px;
  width : 45%;
  height : 60px;
  border-radius : 25px;
  margin : 0 auto;
}

.wkdfm{
  margin: 0 auto;
}

/*웹툰 목록 css*/
.Tooncontainer{
  position: relative;
  /* width : 80%; */
  top: 90px;
  margin-left: 27%;
}

.Tooncontainer2{
  position: relative;
  /* width : 80%; */
  top: 100px;
  margin-left: 27%;
}

.row{
  margin : 0;
}
.col-md-1{
  width: 150px;
  height: 220px;
}

/*이미지 & 정사각형*/
.img-wp {
  /* position: relative; */
  width: 150px;
  height: 150px;
}

#Cardimg{
  border-radius : 15px;
  border : 2px solid #707070;
  /* position: relative; */
  /* top: 0;
  left: 0; */
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

/*웹툰명 및 작가명*/
#title{
  position: relative;
  top : 10px;
  font-size : 18px;
  font-weight: 600;
  text-align : left;
}
#name{
  position: relative;
  top : 5px;
  text-align : left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
